

    /** Categorias **/
    .categorias {
        padding: 5rem 0;
    }
    .categoria {
        margin-bottom: 2rem;
        img {
            width: 100%;
            height: 100%;
        }
        a {
            text-align: center;
            display: block;
            padding: 2rem;
            font-size: 2rem;
            &:hover {
                background: linear-gradient(to right, #56f43e 0%, #037bc0 100% );
                color:$blanco;
                border-bottom-right-radius: 1rem;
            }
        }
        &:hover {
            transform: scale(1.1);
            background-size: 30rem;
        }
    }
    @media (min-width: 768px) {
        .categoria {
            margin-bottom: 2rem;
        }
        .listado-categorias {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            transition-property: transform background-size;
            transition-duration: .3s;
        }
    }
